# TP 5 : Pipelines

L'objectif de ce TP :

- Créer une pipeline de prétraitement de données
- Ajouter dans la pipeline les étapes de modélisation
- Faire une recherche exaustive directement sur notre pipeline

## Exemple Simple

Assemblez une pipeline avec les étapes suivantes :
sur le jeu de donnée `titanic` de `seaborn` :


1. Standardisation des caractéristiques numériques.
1b. Encodage One-Hot des caractéristiques catégorielles.
2. Imputation des valeurs manquantes.
3. Modélisation avec une régression logistique sur la variable cible `survived`.

Affichez les coefficients du modèle après entraînement.

In [7]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.compose import ColumnTransformer
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

titanic = sns.load_dataset('titanic')
X_train, X_test, y_train, y_test = train_test_split(
    titanic.drop(columns=['survived']),
    titanic['survived'],
    test_size=0.2,
    random_state=42
)

titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

## Reprennez vos travaux de pré-traitement des TP précédent et intégrez-les dans une pipeline.

Pour faire des selections de varaiables, vous pouvez utiliser nottamment :

- [Transformers personnalisés](https://scikit-learn.org/stable/modules/generated/sklearn.base.TransformerMixin.html#sklearn.base.TransformerMixin)
- [make_column_selector](https://scikit-learn.org/stable/modules/generated/sklearn.compose.make_column_selector.html#sklearn.compose.make_column_selector)